<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.2/phpunit.xsd"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         colors="true"
>
    <testsuites>
        <testsuite name="PSUserBundle Tests Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">Controllers</directory>
            <directory suffix=".php">Credentials</directory>
            <directory suffix=".php">DependencyInjection</directory>
            <directory suffix=".php">Fields</directory>
            <directory suffix=".php">Form</directory>
            <directory suffix=".php">Models</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./coverage/clover.xml"/>
        <log type="coverage-html" target="./coverage/html" lowUpperBound="35"
             highLowerBound="70"/>
    </logging>
</phpunit>